.git/
.vs/

src/bin/
src/obj/
src/uploads/

src/ASFMoxieFileManagerPlugin/obj/
src/ASFMoxieFileManagerPlugin/bin/

ASFMoxieFileManagerPlugin/obj/
ASFMoxieFileManagerPlugin/bin/

src/view/js/tinymce/plugins/filemanager/js/_cache/**
src/view/js/tinymce/plugins/filemanager/css/_cache/**

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.gz
*.pdf

**/_cache

!.gitignore
.mysql-data/*
