<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
   <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="RootDir" value="" />
    <add key="SectionMenuMode" value="SIBLING" />
    <add key="SectionContentDepth" value="-2" />
    <add key="HistoricPublicationLimit" value="3" />
    <add key="ShortContentMode" value="MIXED" />
    <add key="ShortContentLimit" value="100" />
    <add key="SectionEventsLimit" value="3"/>
    <add key="SectionColumnsLimit" value="MAX"/>
    <add key="SMTPServer" value="smtp.office365.com" />
    <add key="SMTPUsername" value="armando.portillo@eins-null.com" />
    <add key="SMTPPassword" value="" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPSSL" value="true" />
    <add key="SMTPMailFrom" value="armando.portillo@eins-null.com" />
    <add key="SMTPMailTo" value="afkaal@yahoo.com" />
    <add key="SMTPMailToAlt" value="armando.portillo.martinez@gmail.com" />
    <add key="SMTPUserCharLimit" value="10" />
    <add key="LinkCaptureUseScheme" value="false"/>
    <add key="LinkCaptureUseParams" value="false"/>
  </appSettings>
  <connectionStrings />

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">
        Server=127.0.0.1;Database=asf_cms2;User ID=root;Password=toor;Max Pool Size=30;Pooling=true;charset=utf8;
      </property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <mapping assembly="cmsDemo" />
    </session-factory>
  </hibernate-configuration>
  <rewriter>
    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.pdf|\.css|\.js|\.htm|\.html|\.ttf)(\?.+)?)$" to="$1" processing="stop" />
    <rewrite url="(.*)/Publication/(.+)" to="$1/Publication/Show?permalink=$2" />
    <rewrite url="(.*)/Section/(.+)" to="$1/Section/Show?permalink=$2" />
  </rewriter>

  <log4net debug="false">
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\cms_asf.log" />
      <appendToFile value="true" />
      <maximumFileSize value="500KB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="rollingFile" />
    </root>

    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>

    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>
  </log4net>

  <system.web>
    <pages enableSessionState="true"></pages>
    <machineKey validationKey="F0782591D69C36970F9F14488AD28204F3A586FE2B96A501F41212008AA92702EE592220F8F5BD7AC1FABB487FE7FE2FEB53D34B636821BDF38A7CC42B925395" decryptionKey="1C0A00DE469E56D135E98550EC9922F88E988D016DD3D281" validation="SHA1" />
    
    <compilation debug="true"></compilation>
    <httpRuntime executionTimeout="100000" maxRequestLength="2000000" />
      </system.web>
  <system.webServer>
    <modules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter" />
    </modules>
    <handlers>
      <remove name="StaticFile" />
      <remove name="PageHandlerFactory-Integrated" />
      <add name="PageHandlerFactory-Integrated" path="*" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="Css" path="*.css" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Gif" path="*.gif" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Js" path="*.js" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Png" path="*.png" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Jpg" path="*.jpg" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Ico" path="*.ico" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Pdf" path="*.pdf" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Htm" path="*.htm" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Html" path="*.html" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Xls" path="*.xls" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Swf" path="*.swf" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Flv" path="*.flv" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="F4v" path="*.f4v" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Ttf" path="*.ttf" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Woff" path="*.woff" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Woff2" path="*.woff2" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Txt" path="*.txt" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
      <add name="Json" path="*.json" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Script" />
<!--<add name="dos" path="*" verb="*" type="asf.cms.handler.ASFHandler" resourceType="Unspecified" requireAccess="Script"  />-->
  </handlers>

  </system.webServer>

 

</configuration>